{%extends 'base.html'%}
{%block title%}Create Customer{%endblock%}

{%block content%}
<div class="card offset-2 col-8">
    <div class="card-header">
      <a class="btn btn-secondary float-end" href="{{url_for('logout')}}">Logout</a>
      <h3 class="float-end">Username: {{username}}</h3>
    </div>
    <div class="card-body">
      <form method="POST">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">First Name</label>
                <input type="text" name="FirstName" class="form-control" id="exampleFormControlInput1" placeholder="First Name" value="{{customers.FirstName}}">
              </div>
            </div>
            <div class="col">
                <div class="mb-3">
                  <label for="exampleFormControlInput2" class="form-label">Middle Name</label>
                  <input type="text" name="MiddleName" class="form-control" id="exampleFormControlInput2" placeholder="Middle Name" value="{{customers.MiddleName}}">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="exampleFormControlInput3" class="form-label">Last Name</label>
                  <input type="text" name="LastName" class="form-control" id="exampleFormControlInput3" placeholder="Last Name" value="{{customers.LastName}}">
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{%endblock%}
